node_modules/
.git/
.gitignore
.gitattributes
.gitmodules
dist/
build/
*.md
*.pem
*.key
*.crt
*.log
.idea/
.vscode/
.DS_Store
Thumbs.db
backend/
android/
srs/
deploy/
scripts/
docker/
docs/
rules/
tests/
api.json/
